.popup__subtitle{
    width: 358px;
    height: 27px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 26px 0px 0px 34px;
    border: none;
    border-bottom: 1px solid #000000;
    color: #000000;
}

@media (max-width:600px){
.popup__subtitle{
    margin: 27px 0 0 20px;
}
}


.popup__subtitle:focus {
    opacity: 0.2;
    border: 1px solid #000000;
      }