.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    margin-top: 45px;
    border-bottom: 1px solid #54545470;
    height: 74px;
}

@media only screen and (max-width: 767px) {
    .header {
      margin-top: 25px;
    }
  }