.profile__change{
    position: relative;
    max-width: 120px;
    grid-area: avatar;
}

@media screen and (max-width:980px) {
    .profile__avatar_change {
      max-width: 100px;
    }
  }

  @media screen and (max-width:641px) {
    .profile__avatar_change {
      max-width: 120px;
      align-self: center;
    }
  }
