.popup__exit{
    border: none;
    padding: 0;
    position: absolute;
    left: 436px;
    top: -35px;
    width: 32px;
    height: 32px;
    background: url(../../../images/Close\ Icon.svg);
    position: absolute;
}

@media (max-width:600px){
    .popup__exit{
        position: absolute;
        left: 331px;
        top: -28px;
    }
  }
  